# =====================
# Core MLOps
# =====================
zenml[local]==0.92.0

# =====================
# Data & ML
# =====================
numpy
pandas
scikit-learn
scipy

# =====================
# Anomaly Detection
# =====================
pyod

# =====================
# Deep Learning (PyTorch)
# =====================
torch
torchvision
torchaudio

# =====================
# Experiment / Tuning
# =====================
optuna

# =====================
# Visualization
# =====================
matplotlib
seaborn
tqdm

# =====================
# Notebook / Dev
# =====================
jupyter
ipykernel
python-dotenv
